@model Bugtracker.Models.Account.AccountDTO

<h3>Manage Password</h3>
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Settings.OldPassword" class="form-label"></label>
        <input asp-for="Settings.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
        <span asp-validation-for="Settings.OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Settings.NewPassword" class="form-label"></label>
        <input asp-for="Settings.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
        <span asp-validation-for="Settings.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Settings.ConfirmPassword" class="form-label"></label>
        <input asp-for="Settings.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
        <span asp-validation-for="Settings.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update password</button>
}
