@model Bugtracker.Models.Account.AccountDTO

<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="card">
                    <div class="card-header">
                        <h1>Login to your account.</h1>
                        <h5>You will need an account or to register an account to gain access to the Bugtracker</h5>
                    </div>
                    <div class="card-body">
                        <form id="account" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Login.Email" class="form-label"></label>
                                <input asp-for="Login.Email" class="form-control" autocomplete="username" aria-required="true" />
                                <span asp-validation-for="Login.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Login.Password" class="form-label"></label>
                                <input asp-for="Login.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                <span asp-validation-for="Login.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Login.RememberMe" class="form-label px-4">
                                        <input class="form-check-input" asp-for="Login.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Login.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div>
                                <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
                            </div>
                            <div>
                                <p>
                                    @*<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>*@
                                </p>
                                <p>
                                    <a asp-action="Register" asp-controller="Account">Register as a new user</a>
                                </p>
                                <p>
                                    @*<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>*@
                                </p>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
